.marker-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.marker-table {
    display: grid;
    grid-template-rows: 35px calc(100vh - 450px) 275px;
    grid-template-columns: auto;
    padding: 5px 0 0 0;
    /* gap: 5px; */
}

.marker-header {
    grid-row: 1;
    grid-column: 1/ -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marker-list {
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: start;
    overflow-x: hidden;
    height: 100% !important;
}

.marker-footer {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px repeat(4, auto);
}

/* .marker-footer-title {
    grid-row: 1;
    grid-column: 1/-1;
    gap: 3px;
} */

.marker-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.marker-filter-container-tag {
    position: absolute;
    top: 20%;
    right: 20px;
    /* font-size: 10px; */
}

.marker-filter-container > Histogram {
    position: absolute;
}

.row-card {
    padding: 2px;
    font-size: 12px;
    border-bottom: solid gainsboro 1px;
}

.row-cont-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
}

.row-container {
    display: grid;
    grid-template-columns: 25% 15% 15% 25% 20%;
    gap: 2px;
    align-items: center;
}

.row-header {
    font-size: 10px;
    text-align: center;
    align-items: center;
}

.marker-filter-slider {
    margin: 0 5px 0 5px;
    /* width: 100%; */
    width: 315px;
    position: absolute;
    top: 60%;
    z-index: 1;
    font-size: 8px;
}

.row-action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}