.marker-container {
    display: flex;
    padding: 5px;
    flex-direction: column;
}

.marker-table {
    display: grid;
    grid-template-rows: 35px calc(100vh - 550px) 275px;
    grid-template-columns: auto;
    padding: 5px 0 0 0;
    /* gap: 5px; */
}

.marker-header {
    grid-row: 1;
    grid-column: 1/ -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marker-list {
    grid-row: 2;
    grid-column: 1 / -1;
    text-align: start;
    overflow-x: hidden;
    height: 100% !important;
}

.marker-footer {
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25px repeat(4, auto);
}

/* .marker-footer-title {
    grid-row: 1;
    grid-column: 1/-1;
    gap: 3px;
} */

.marker-filter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 35px;
    margin-top: 2px;
}

.marker-filter-container-tag {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 10px;
}

.marker-slider-container {
    position: relative;
    width: 350px;
}

.marker-filter-gradient {
    position: absolute;
    width: 100%;
    margin: 0 15px;
    opacity: 0.8;
}


/* .marker-filter-container > Histogram {
    position: absolute;
} */

.row-card {
    padding: 2px;
    font-size: 12px;
    border-bottom: solid gainsboro 1px;
}

.row-cont-wrapper {
    display: flex;
    align-items: center;
    justify-content: left;
}

.row-container {
    display: grid;
    grid-template-columns: 25% 14% 17% 25% 17%;
    gap: 2px;
    align-items: center;
}

.row-header {
    font-size: 12px;
    text-align: center;
    align-items: center;
}

.marker-filter-slider {
    margin: 0 15px;
    /* width: 100%; */
    /* width: 315px; */
    position: absolute;
    z-index: 1;
    font-size: 8px;
}

.row-action {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.marker-gene-title {
    overflow-wrap: break-word;
}

.marker-gene-title-selected {
    font-style: italic;
    font-weight: bold;
    overflow-wrap: break-word;
}

.marker-cluster-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marker-vsmode {
    display: flex;
    flex-direction: row;
}

.marker-cluster-selection {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.marker-cluster-selection-width {
    width: 100%;
    margin: 0 2px;
}