.inputs-container {
    display: grid;
    /* grid-template-columns: auto minmax(325px, 30%); */
    grid-template-columns: auto 325px;
    /* grid-template-rows: auto auto auto auto; */
    grid-auto-flow: row;
    gap: 10px;
}

.row-input {
    grid-row: 1;
    grid-column: 1;
}

.row-input-tooltips {
    grid-row: 1 / -1;
    grid-column: 2;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

.row-input {
    margin: 5px;
}

.row-tooltip {
    margin-left: 5px;
    display: inline;
    text-decoration: underline;
    cursor: help;
    font-style: normal;
}

.row-tooltip-highlight {
    color: #137CBD;
    font-style: italic;
}

.analysis-dialog {
    width: 75vw;
}

.text-100 {
    max-width: 250px;
}

.kana-date {
    font-size: 12px;
    font-style: italic;
}

.stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.stepper-container > button {
    margin: 5px;
}

.cell-top {
    width: 100%;
    height: 100%;
}