.inputs-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
}

.row-input {
    grid-row: 1;
    grid-column: 1 / -1;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

.row-input {
    margin: 5px;
}

.row-tooltip {
    margin-left: 5px;
    display: inline;
    text-decoration: underline;
}

.analysis-dialog {
    width: 75vw;
}

.text-100 {
    max-width: 250px;
}