.fsetenrich-container {
  display: flex;
  padding: 5px;
  flex-direction: column;
  font-size: x-small;
}

.fsetenrich-container-header {
  display: flex;
  justify-content: space-between;
}

.fsetenrich-table {
  display: grid;
  /* grid-template-rows: 35px calc(100vh - 290px); */
  grid-template-columns: auto;
  padding: 5px 0 0 0;
  /* gap: 5px; */
}

.fsetenrich-header {
  grid-row: 1;
  grid-column: 1/ -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fsetenrich-list {
  grid-row: 2;
  grid-column: 1 / -1;
  text-align: start;
  overflow-x: hidden;
  height: 100% !important;
}

.fsetenrich-footer {
  padding-top: 5px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 25px repeat(4, auto);
}

.fsetenrich-footer-header {
  display: flex;
  justify-content: space-between;
}

/* .fsetenrich-footer-title {
    grid-row: 1;
    grid-column: 1/-1;
    gap: 3px;
} */

.fsetenrich-filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 55px;
  margin-top: 2px;
}

.fsetenrich-filter-container-tag {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 10px;
}

.fsetenrich-slider-container {
  position: relative;
  width: 310px;
}

.fsetenrich-filter-gradient {
  position: absolute;
  width: 100%;
  margin: 0 15px;
  opacity: 0.8;
}

/* .fsetenrich-filter-container > Histogram {
    position: absolute;
} */

.fsetenrich-row-card {
  padding: 2px;
  /* font-size: 12px; */
  border-bottom: solid gainsboro 1px;
}

.fsetenrich-row-cont-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}

.fsetenrich-row-container {
  display: grid;
  /* grid-template-columns: 25% 14% 17% 25% 17%; */
  gap: 2px;
  align-items: center;
}

.fsetenrich-row-header {
  /* font-size: 12px; */
  text-align: center;
  align-items: center;
}

.fsetenrich-filter-slider {
  margin: 0 15px;
  /* width: 100%; */
  /* width: 315px; */
  position: absolute;
  z-index: 1;
  font-size: 8px;
}

.fsetenrich-row-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fsetenrich-title {
  overflow-wrap: break-word;
}

.fsetenrich-title-selected {
  font-style: italic;
  font-weight: bold;
  overflow-wrap: break-word;
}

.fsetenrich-cluster-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 22px;
}

.fsetenrich-vsmode {
  display: flex;
  flex-direction: row;
}

.fsetenrich-cluster-selection {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.fsetenrich-cluster-selection-width {
  width: 100%;
  margin: 0 2px;
}

.fsetenrich-genelist-container {
  width: 75px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid gainsboro 1px;
  align-items: center;
}