.scatter-plot {
  margin: 5px;
  max-height: 100%;
  height: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 100px auto 250px;
  grid-template-rows: 25px auto;
  background-color: #fff;
}

.dim-plot {
  text-align:left;
}

.top-header {
  grid-column: 2 / -1;
  grid-row: 1;
  justify-self: end;
  display: flex;
  flex-direction: row;
}

.left-sidebar {
  grid-row: 1 / -1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-sidebar {
  grid-row: 2 / -1;
  grid-column: 3;
  align-self: center;
  flex-direction: column;
}

.right-sidebar ul {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style-position: inside;
  max-height: calc(100vh / 5);
  overflow-y: auto;
}

.right-sidebar-cluster {
  padding-top: 5px;
  overflow-y: auto;
  text-align: left;
  /* grid-row: 1;
  grid-column: 1; */
}

.right-sidebar-slider {
  padding-top: 5px;
  /* grid-row: 2;
  grid-column: 1; */
}

.right-sidebar ul > li {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.right-sidebar ul > li:hover {
  text-decoration: underline;
}

.right-sidebar-cluster > Callout {
  padding-left: 20px;
}

.dim-plot, .iter {
  grid-row: 2;
  grid-column: 2;
  vertical-align: center;
}

.dim-button {
  text-align: center;
}

.dim-button > span {
  margin-top: 5px;
}

.legend-highlight {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}

.dim-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.dim-range-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
}

.dim-slider-gradient {
  display: flex;
  flex-direction: row;
}

text {
  font: "8px sans-serif;";
}

.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.selection-button-container > Button {
  margin: 2px;
}

.iter {
  z-index: 1;
}