.scatter-plot {
    margin: 5px;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px auto;
    grid-template-rows: 25px auto;
    background-color: #fff;
}

.top-header {
    /* padding: 5px; */
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    margin-top: 10px;
}

.left-sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dim-plot {
    grid-row: 2;
    grid-column: 2;
    vertical-align: center;
}

.dim-button {
    text-align: center;
}

.dim-button > span {
    margin-top: 5px;
}