.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto 400px;
  grid-template-rows: 60% 40%;
  background-color: #fff;
  /* color: #444; */
  height: calc(100vh - 70px);
}

.plot {
  grid-column: 1;
  grid-row: 1;
  /* background-color: blue; */
}

.marker {
  grid-column: 2;
  grid-row: 1 / -1;
  /* background-color: red; */
  border-left: 2px solid gainsboro;
}

.analysis {
  grid-column: 1 / 2;
  grid-row: 2;
  /* background-color: yellow; */
  border-top: 2px solid gainsboro;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

/* old style */
/* .App-cotent-plot {
  display: flex;
  margin: 5px;
  justify-content: space-between;
  align-items: stretch;
}

.plot {
  width: calc(100% - 600px);
  height: 100%;
  border-left: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  padding: 5px
}

.sidebar {
  min-width: 300px;
  padding: 5px;
  height: 100%;
} */

.spinner {
  display: relative;
  left: 50%;
  top: 40%;
}